## Introduction of the problem

I am comparing two cityies of germany (Bonn and cologn) both cities are in one provence with the distance of almost 24 Kilumeters. Imagin that some people who have to  move from one city to another and would like to find the ereas similar to part of  cities they are living now in order to look for a place to move to. I would like to compre the city neighborhoods of two cities (bonn and cologn) to earn some information about similar ereas.

I explor  Bonn City and cologn and segmented and clustered their neighborhoods. Both cities are somehow similar however with very different size and facilities. I will discover where are the parts with more resturants.

In the next step I would like to some add other cities (10 famous cities) of germany and get how similar or dissimilar they are.

## Some Background about the cities

#### Bonn
The Federal city of Bonn is a city on the banks of the Rhine in the German state of North Rhine-Westphalia, with a population of over 300,000. About 24 km (15 mi) south-southeast of Cologne, Bonn is in the southernmost part of the Rhine-Ruhr region, Germany's largest metropolitan area, with over 11 million inhabitants. It is famously known as the birthplace of Ludwig van Beethoven in 1770 as well as the capital city of West Germany until 1990.


#### Cologne
Cologne(Köln) is the largest city of Germany's most populous federal state of North Rhine-Westphalia and the fourth-most populous city in Germany. With slightly over a million inhabitants (1.09 million) within its city boundaries, Cologne is the largest city on the Rhine and also the most populous city both of the Rhine-Ruhr Metropolitan Region, which is Germany's largest and one of Europe's major metropolitan areas, and of the Rhineland.

<div class="alert alert-block alert-info" style="margin-top: 20px">
Here I consider each city part with a postal code as a specific neighborhood
<div>

In [261]:
#obtain the geodata and postal codes 
#reading geodata of germany
german_geo = pd.read_csv("de_postal_codes.csv",encoding='cp1252')

In [262]:
german_geo.head()

,Postal Code,Place Name,State,State Abbreviation,City,Latitude,Longitude,Unnamed: 7
0,1945.0,Kroppen,Brandenburg,BB,Oberspreewald-Lausitz,51.3833,13.8000,NaN
1,1968.0,Schipkau,Brandenburg,BB,Oberspreewald-Lausitz,51.5456,13.9121,NaN
2,1979.0,Lauchhammer,Brandenburg,BB,Oberspreewald-Lausitz,51.5000,13.7667,NaN
3,1983.0,Großräschen,Brandenburg,BB,Oberspreewald-Lausitz,51.5833,14.0000,NaN
4,1987.0,Schwarzheide,Brandenburg,BB,Oberspreewald-Lausitz,51.4653,13.8680,NaN

In [265]:
#number of postalcodes in every state
german_geo["State Abbreviation"].value_counts()

BY    2076
BW    1208
NW     869
NI     823
RP     661
HE     549
SH     451
SN     390
TH     225
BB     224
ST     217
MV     196
BE     191
HH     101
SL      69
HB      41
Name: State Abbreviation, dtype: int64

#### selecting some cities and cleaning

In [284]:
german_geo["Postal Code"] = german_geo["Postal Code"].apply(lambda a: str(a).split('.')[0])

In [288]:
german_geo.drop("Unnamed: 7",axis=1, inplace=True)

In [291]:
nrw = german_geo[german_geo["State Abbreviation"]=="NW"]

In [292]:
len(nrw)

869

In [293]:
nrw.head()

,Postal Code,Place Name,State,State Abbreviation,City,Latitude,Longitude
5409,40210,Düsseldorf,Nordrhein-Westfalen,NW,"Düsseldorf, Stadt",51.2216,6.7898
5410,40211,Düsseldorf,Nordrhein-Westfalen,NW,"Düsseldorf, Stadt",51.2278,6.7861
5411,40212,Düsseldorf,Nordrhein-Westfalen,NW,"Düsseldorf, Stadt",51.2230,6.7827
5412,40213,Düsseldorf,Nordrhein-Westfalen,NW,"Düsseldorf, Stadt",51.2249,6.7742
5413,40215,Düsseldorf,Nordrhein-Westfalen,NW,"Düsseldorf, Stadt",51.2165,6.7836

In [552]:
bonn_geo = nrw[nrw["Place Name"]=="Bonn"]
bonn_geo.head()

,Postal Code,Place Name,State,State Abbreviation,City,Latitude,Longitude
5803,53111,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7362,7.1002
5804,53113,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7230,7.1068
5805,53115,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7272,7.0851
5806,53117,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7610,7.0630
5807,53119,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7431,7.0590

In [545]:
koeln_geo = nrw[nrw["Place Name"]=="Köln"]
koeln_geo.head()

,Postal Code,Place Name,State,State Abbreviation,City,Latitude,Longitude
5696,50667,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9384,6.9543
5697,50668,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9477,6.9609
5698,50670,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9525,6.9571
5699,50672,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9466,6.9391
5700,50674,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9326,6.9410

In [575]:
koelnBonn_f = [nrw[nrw["Place Name"]=="Köln"] ,nrw[nrw["Place Name"]=="Bonn" ]]
koelnBonn_geo = pd.concat(koelnBonn_f)
koelnBonn_geo.head()

,Postal Code,Place Name,State,State Abbreviation,City,Latitude,Longitude
5696,50667,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9384,6.9543
5697,50668,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9477,6.9609
5698,50670,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9525,6.9571
5699,50672,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9466,6.9391
5700,50674,Köln,Nordrhein-Westfalen,NW,"Köln, Stadt",50.9326,6.9410

In [553]:
bonn_geo.shape
#number of postal codes in bonn city

(17, 7)

In [546]:
koeln_geo.shape
#number od postal codes in cologn city

(45, 7)

In [391]:
CLIENT_ID = "**********************"
CLIENT_SECRET = "*********************"
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

In [577]:
# both cities
koelnBonn_geo.shape

(62, 7)

In [210]:
#!pip install geopy
#!pip install folium

In [60]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

#### Use geopy library to get the latitude and longitude

In [791]:
address = 'Bonn'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Bonn are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Bonn are 50.735851, 7.10066.

In [548]:
address = 'Köln'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude_k = location.latitude
longitude_k = location.longitude
print('The geograpical coordinate of Köln are {}, {}.'.format(latitude_k, longitude_k))

The geograpical coordinate of Köln are 50.938361, 6.959974.

In [ ]:
#showing the differe

<div class="alert alert-block alert-info" style="margin-top: 20px">
showing the areas of city bonn(red) and city cologn (blue) as you can see cologn is a big city in compare to bonn
<div>

In [407]:
#folium.CircleMarker?

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

### Explore Neighborhood in Bonn and cologn

In [302]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

### explore and Analyze Each Neighborhood

In [390]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

work with only boroughs that contain the word Toronto and then replicate the same analysis we did to the New York City data.

In [304]:
print(len(bonn_geo))
bonn_geo.head()

17

,Postal Code,Place Name,State,State Abbreviation,City,Latitude,Longitude
5803,53111,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7362,7.1002
5804,53113,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7230,7.1068
5805,53115,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7272,7.0851
5806,53117,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7610,7.0630
5807,53119,Bonn,Nordrhein-Westfalen,NW,"Bonn, Stadt",50.7431,7.0590

In [395]:
Bonn_venues = getNearbyVenues(names=bonn_geo['Postal Code'],
                                   latitudes=bonn_geo['Latitude'],
                                   longitudes=bonn_geo['Longitude']
                                  )

53111
53113
53115
53117
53119
53121
53123
53125
53127
53129
53173
53175
53177
53179
53225
53227
53229

In [700]:
#Bonn_venues["city"]="bonn"
#Bonn_venues

In [559]:
koeln_venues = getNearbyVenues(names=koeln_geo['Postal Code'],
                                   latitudes=koeln_geo['Latitude'],
                                   longitudes=koeln_geo['Longitude']
                                  )

50667
50668
50670
50672
50674
50676
50677
50678
50679
50733
50735
50737
50739
50765
50767
50769
50823
50825
50827
50829
50858
50859
50931
50933
50935
50937
50939
50968
50969
50996
50997
50999
51061
51063
51065
51067
51069
51103
51105
51107
51109
51143
51145
51147
51149

In [561]:
Bonn_venues.head(3)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,53111,50.7362,7.1002,Marktplatz,50.735419,7.101961,Plaza
1,53111,50.7362,7.1002,Weinkommissar,50.736651,7.099702,Wine Bar
2,53111,50.7362,7.1002,WOKI Filmpalast,50.737734,7.101807,Movie Theater

In [560]:
koeln_venues.head(3)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,50667,50.9384,6.9543,KOLUMBA Kunstmuseum,50.938530,6.954084,Art Museum
1,50667,50.9384,6.9543,Sattgrün,50.938441,6.954965,Vegetarian / Vegan Restaurant
2,50667,50.9384,6.9543,Espresso Perfetto,50.938852,6.953973,Coffee Shop

In [562]:
#Bonn_venues_org = Bonn_venues
#koeln_venues_org = koeln_venues

In [418]:
Bonn_venues["Venue Category"].value_counts()

Café                             16
Drugstore                        14
Bar                              14
Hotel                            13
Italian Restaurant               13
Supermarket                      10
Bakery                           10
German Restaurant                10
Ice Cream Shop                   10
Chinese Restaurant                9
Plaza                             9
Restaurant                        8
Nightclub                         7
Greek Restaurant                  7
Cocktail Bar                      6
Pub                               6
Clothing Store                    6
Burger Joint                      5
Park                              5
Metro Station                     5
Bus Stop                          4
Shopping Mall                     4
Vietnamese Restaurant             4
Grocery Store                     4
Vegetarian / Vegan Restaurant     4
Historic Site                     4
Sushi Restaurant                  4
Bookstore                         4
French Restaurant                 3
Seafood Restaurant                3
Korean Restaurant                 3
Turkish Restaurant                3
Coffee Shop                       3
Asian Restaurant                  3
Intersection                      3
Falafel Restaurant                3
Mediterranean Restaurant          3
Gym / Fitness Center              3
Indian Restaurant                 3
Church                            2
Train Station                     2
Persian Restaurant                2
Japanese Restaurant               2
Rest Area                         2
Tram Station                      2
Theater                           2
Burrito Place                     2
Tea Room                          2
Bagel Shop                        2
Farmers Market                    2
Snack Place                       2
Middle Eastern Restaurant         2
Fish Market                       2
Boat or Ferry                     2
Candy Store                       2
Gourmet Shop                      2
Tapas Restaurant                  2
Bus Station                       2
Pizza Place                       2
Ethiopian Restaurant              2
Salon / Barbershop                2
Tunnel                            2
Record Shop                       2
English Restaurant                2
Market                            2
Wine Bar                          2
Food Stand                        2
Museum                            2
Mexican Restaurant                1
Liquor Store                      1
Whisky Bar                        1
Tennis Court                      1
Bank                              1
Gluten-free Restaurant            1
Automotive Shop                   1
Noodle House                      1
Pet Store                         1
Medical Supply Store              1
Argentinian Restaurant            1
Diner                             1
Gastropub                         1
Dive Bar                          1
Neighborhood                      1
Opera House                       1
Portuguese Restaurant             1
Office                            1
Organic Grocery                   1
Garden                            1
Gym Pool                          1
City Hall                         1
Spanish Restaurant                1
Road                              1
Soccer Field                      1
Event Space                       1
Food                              1
Mobile Phone Shop                 1
Dance Studio                      1
Movie Theater                     1
Salad Place                       1
Beer Garden                       1
Harbor / Marina                   1
Brazilian Restaurant              1
Furniture / Home Store            1
Dessert Shop                      1
Science Museum                    1
Food & Drink Shop                 1
Hardware Store                    1
Platform                          1
Flower Shop                       1
Moroccan Restaurant               1
Name: Venue Category, dtype: int64

In [563]:
koeln_venues["Venue Category"].value_counts()

Café                             101
Hotel                             67
Italian Restaurant                55
Bakery                            42
Supermarket                       37
German Restaurant                 36
Sushi Restaurant                  34
Plaza                             34
Gym / Fitness Center              26
Ice Cream Shop                    25
Bar                               23
Drugstore                         22
Vietnamese Restaurant             18
Tram Station                      17
Clothing Store                    17
Restaurant                        16
Indian Restaurant                 16
Salad Place                       15
Park                              14
Turkish Restaurant                14
Pub                               14
Pedestrian Plaza                  14
Coffee Shop                       13
Paper / Office Supplies Store     13
Event Space                       13
Grocery Store                     13
Food & Drink Shop                 13
Department Store                  12
Pizza Place                       12
French Restaurant                 12
Sporting Goods Shop               12
Metro Station                     11
Korean Restaurant                 11
Business Service                  11
Burger Joint                      11
Japanese Restaurant               10
Doner Restaurant                  10
Spanish Restaurant                10
Brewery                           10
Photography Studio                10
Chinese Restaurant                 9
Gay Bar                            9
Thai Restaurant                    8
Cocktail Bar                       8
Middle Eastern Restaurant          7
Gastropub                          7
Vegetarian / Vegan Restaurant      6
Greek Restaurant                   6
Mediterranean Restaurant           6
Movie Theater                      6
Furniture / Home Store             6
Asian Restaurant                   5
Tapas Restaurant                   5
Sandwich Place                     5
Nightclub                          5
Kebab Restaurant                   5
Creperie                           5
Frozen Yogurt Shop                 5
Trattoria/Osteria                  5
Toy / Game Store                   5
Organic Grocery                    5
Theater                            5
Convenience Store                  4
Modern European Restaurant         4
Snack Place                        4
Hostel                             4
Falafel Restaurant                 4
Bistro                             4
Gourmet Shop                       4
ATM                                4
Art Museum                         4
Music Venue                        4
Mexican Restaurant                 4
Steakhouse                         4
Electronics Store                  3
Beer Garden                        3
Seafood Restaurant                 3
Fast Food Restaurant               3
Rhenisch Restaurant                3
Bookstore                          3
Lounge                             3
Bus Stop                           3
Bank                               3
Mobile Phone Shop                  3
Pharmacy                           3
Persian Restaurant                 3
Deli / Bodega                      3
Indie Movie Theater                2
Market                             2
Gym                                2
Concert Hall                       2
Health & Beauty Service            2
Taverna                            2
Comedy Club                        2
Golf Course                        2
Wine Bar                           2
Wine Shop                          2
Office                             2
History Museum                     2
Portuguese Restaurant              2
Hotel Bar                          2
Dive Bar                           2
Perfume Shop                       2
Art Gallery                        2
Big Box Store                      2
Ramen Restaurant                   2
Light Rail Station                 2
Theme Restaurant                   2
Dessert Shop                       2
Cigkofte Place                     2
Sports Bar                         2
Shoe Store                         2
Monument / Landmark                2
Eastern European Restaurant        2
Flower Shop                        2
Athletics & Sports                 2
Playground                         2
Breakfast Spot                     2
Shopping Mall                      2
Hookah Bar                         2
Outdoor Supply Store               2
Auto Garage                        2
Burrito Place                      1
Optical Shop                       1
Liquor Store                       1
Kids Store                         1
Schnitzel Restaurant               1
Peruvian Restaurant                1
Austrian Restaurant                1
Business Center                    1
Mini Golf                          1
Exhibit                            1
Video Game Store                   1
Record Shop                        1
Gas Station                        1
Motorcycle Shop                    1
Medical Center                     1
Lake                               1
Bagel Shop                         1
Farmers Market                     1
Gluten-free Restaurant             1
Pet Store                          1
Brazilian Restaurant               1
Beer Bar                           1
Indoor Play Area                   1
Tennis Court                       1
Basketball Court                   1
Multiplex                          1
Food Truck                         1
Israeli Restaurant                 1
Hot Dog Joint                      1
Soup Place                         1
Boutique                           1
Juice Bar                          1
Ethiopian Restaurant               1
River                              1
Spa                                1
Bed & Breakfast                    1
Motel                              1
Flea Market                        1
Garden                             1
Scenic Lookout                     1
Hardware Store                     1
Harbor / Marina                    1
Smoke Shop                         1
Intersection                       1
Dog Run                            1
Jewelry Store                      1
BBQ Joint                          1
Taxi                               1
Fish & Chips Shop                  1
Beer Store                         1
Diner                              1
Fish Market                        1
Shipping Store                     1
Scandinavian Restaurant            1
Miscellaneous Shop                 1
Indonesian Restaurant              1
Currywurst Joint                   1
Church                             1
Gift Shop                          1
Irish Pub                          1
Pastry Shop                        1
Chocolate Shop                     1
Cosmetics Shop                     1
Zoo                                1
Tennis Stadium                     1
Hill                               1
Coffee Roaster                     1
Cantonese Restaurant               1
Martial Arts School                1
Bavarian Restaurant                1
Trail                              1
Poke Place                         1
Tourist Information Center         1
Name: Venue Category, dtype: int64