# Segmenting and Clustering Neighborhoods in Toronto

Start by creating a new Notebook for this assignment.
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas  dataframe like the one shown below

In [5]:
import pandas as pd

list_postal = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df = list_postal[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [38]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [6]:
df_bor = df[df["Borough"]!="Not assigned"]
df_bor.reset_index(inplace=True, drop=True)
df_bor.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [104]:
#If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.

In [105]:
df_bor[df_bor["Neighbourhood"]=="Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [106]:
df_bor.loc[df_bor["Neighbourhood"]=="Not assigned","Neighbourhood"]= df_bor['Borough'].copy()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
df_bor.head()
df_bor.reset_index(inplace=True)

In [100]:
df_bor.shape

(103, 3)

# Part2

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [ ]:
#we will use the Geocoder Python package: https://geocoder.readthedocs.io/index.html.

In [4]:
#!pip install geocoder

In [10]:
postal_code = df_bor["Postal Code"]
postal_code = "M5G"

In [ ]:
import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
    g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
    lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

In [12]:
geocoders = pd.read_csv("http://cocl.us/Geospatial_data")

In [19]:
geocoders.shape

(103, 3)

In [27]:
geocoders.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [42]:
df_con = df_bor.set_index("Postal Code").join(geocoders.set_index("Postal Code"))

In [43]:
df_con.reset_index(inplace= True)
df_con.head()

,Postal Code,index,Borough,Neighbourhood,Latitude,Longitude
0,M3A,0,North York,Parkwoods,43.753259,-79.329656
1,M4A,1,North York,Victoria Village,43.725882,-79.315572
2,M5A,2,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,3,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,4,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [51]:
df_con.drop("index", axis=1,inplace = True)

In [52]:
df_con.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494